In [1]:
from selenium import webdriver
import pandas as pd

In [15]:
driver =webdriver.Chrome(executable_path='D:\chromedriver.exe')
driver.get('https://pokemondb.net/pokedex/all')
driver.maximize_window()
privesy=driver.find_element_by_xpath('//p[@class="text-right"]/button')
privesy.click()

C:\Users\skand\AppData\Local\Temp/ipykernel_18176/3159858491.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver =webdriver.Chrome(executable_path='D:\chromedriver.exe')
C:\Users\skand\AppData\Local\Temp/ipykernel_18176/3159858491.py:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  privesy=driver.find_element_by_xpath('//p[@class="text-right"]/button')

In [16]:
#get names 
names=driver.find_elements_by_xpath('//td[@class="cell-name"]/a[@class="ent-name"]')
#get type 
type=driver.find_elements_by_xpath('//td[@class="cell-icon"]')
#get total
total=driver.find_elements_by_xpath('//td[@class="cell-total"]')
#get hp
hp=driver.find_elements_by_xpath('//tr/td[@class="cell-num"][1]')
#get attack 
attack=driver.find_elements_by_xpath('//tr/td[@class="cell-num"][2]')
#get defense 
defense=driver.find_elements_by_xpath('//tr/td[@class="cell-num"][3]')
#get sp_atk
sp_atk=driver.find_elements_by_xpath('//tr/td[@class="cell-num"][4]')
#get sp_def
sp_def=driver.find_elements_by_xpath('//tr/td[@class="cell-num"][5]')
#get speed
speed=driver.find_elements_by_xpath('//tr/td[@class="cell-num"][6]')

C:\Users\skand\AppData\Local\Temp/ipykernel_18176/2786816395.py:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  names=driver.find_elements_by_xpath('//td[@class="cell-name"]/a[@class="ent-name"]')
C:\Users\skand\AppData\Local\Temp/ipykernel_18176/2786816395.py:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  type=driver.find_elements_by_xpath('//td[@class="cell-icon"]')
C:\Users\skand\AppData\Local\Temp/ipykernel_18176/2786816395.py:6: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  total=driver.find_elements_by_xpath('//td[@class="cell-total"]')
C:\Users\skand\AppData\Local\Temp/ipykernel_18176/2786816395.py:8: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  hp=driver.find_elements_by_xpath('//tr/td[@class="cell-num"][1]')
C:\Users\skand\AppData\Local\Temp/ipykernel_18176/2786816395.py:10: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  attack=driver.find_elements_by_xpath('//tr/td[@class="cell-num"][2]')
C:\Users\skand\AppData\Local\Temp/ipykernel_18176/2786816395.py:12: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  defense=driver.find_elements_by_xpath('//tr/td[@class="cell-num"][3]')
C:\Users\skand\AppData\Local\Temp/ipykernel_18176/2786816395.py:14: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  sp_atk=driver.find_elements_by_xpath('//tr/td[@class="cell-num"][4]')
C:\Users\skand\AppData\Local\Temp/ipykernel_18176/2786816395.py:16: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  sp_def=driver.find_elements_by_xpath('//tr/td[@class="cell-num"][5]')
C:\Users\skand\AppData\Local\Temp/ipykernel_18176/2786816395.py:18: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  speed=driver.find_elements_by_xpath('//tr/td[@class="cell-num"][6]')

In [ ]:
for x in speed:
    print(x.text )

In [17]:
df=pd.DataFrame()
n=[]
t=[]
tot=[]
h=[]
at=[]
dfe=[]
st=[]
sd=[]
sde=[]

for x in names:
    n.append(x.text)
for x in type:
    t.append(x.text)
for x in total:
    tot.append(x.text)
for x in hp:
    h.append(x.text)
for x in attack:
    at.append(x.text)
for x in defense:
    dfe.append(x.text)
for x in sp_atk:
    st.append(x.text)
for x in sp_def:
    sd.append(x.text)
for x in speed:
    sde.append(x.text)
df['names']=n
df['type']=t
df['total']=tot
df['attack']=at
df['hp']=h
df['defense']=dfe
df['speed_attack']=st
df['speed_defense']=sd
df['speed']=sde

In [18]:

df.head()

,names,type,total,attack,hp,defense,speed_attack,speed_defense,speed
0,Bulbasaur,GRASS\nPOISON,318,49,45,49,65,65,45
1,Ivysaur,GRASS\nPOISON,405,62,60,63,80,80,60
2,Venusaur,GRASS\nPOISON,525,82,80,83,100,100,80
3,Venusaur,GRASS\nPOISON,625,100,80,123,122,120,80
4,Charmander,FIRE,309,52,39,43,60,50,65

In [19]:
#replace '\n' with a comma
df['type']=df['type'].apply(lambda x: x.replace("\n",','))

In [20]:
df.to_excel('pokèmon data.xlsx',index=False)

,names,type,total,attack,hp,defense,speed_attack,speed_defense,speed
0,Bulbasaur,"GRASS,POISON",318,49,45,49,65,65,45
1,Ivysaur,"GRASS,POISON",405,62,60,63,80,80,60
2,Venusaur,"GRASS,POISON",525,82,80,83,100,100,80
3,Venusaur,"GRASS,POISON",625,100,80,123,122,120,80
4,Charmander,FIRE,309,52,39,43,60,50,65
...,...,...,...,...,...,...,...,...,...
1070,Basculegion,"WATER,GHOST",530,92,120,65,100,75,78
1071,Sneasler,"POISON,FIGHTING",510,130,80,60,40,80,120
1072,Overqwil,"DARK,POISON",510,115,85,95,65,65,85
1073,Enamorus,"FAIRY,FLYING",580,115,74,70,135,80,106
1074,Enamorus,"FAIRY,FLYING",580,115,74,110,135,100,46